body {
  background-color: rgba(3, 2, 2, 0.849);
}

.object-styling {
  border-radius: 10px;
  border: 3px solid rgb(55, 58, 58);
  background-color: rgb(55, 58, 58);
}

.text-class {
  color: black;
  font: 15px Arial, sams-serif;
}

.videos {
  background-color: red;
}
